<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博系统(Micro Blog System)</title>
    <link type="text/css" rel="stylesheet" href="../css/error.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/progressbar.js"></script>
</head>
<body>
<div class="progress-bar"></div>
<div class="info-container">
    <div class="info">胡帅广正在拼命熬夜开发中....&nbsp;
        <i class="fa fa-joomla fa-spin"></i>
        <br><br>
        <a class="info-link-home" href="../index.html">
            <i class="fa fa-home fa-lg"></i>&nbsp;返回首页
        </a>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</html>